{% extends 'admin/base.html' %}

{% block head_css %}
    {{ super() }}
    <style>
        .navbar-header .navbar-brand {
            padding-left: 130px;
        }

        .navbar-header .navbar-brand {
            background: url({{ url_for('static', filename='epoxy5.png') }});
            background-size: 122px 50px;
            background-repeat: no-repeat;
        }
    </style>
{% endblock %}

{% block brand %}
    <a class="navbar-brand" href="{{ admin_view.admin.url }}">{{ admin_view.admin.name }}</a>
{% endblock %}

{% block access_control %}
    {% if current_user.is_authenticated %}
        <div class="navbar-text btn-group pull-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <i class="glyphicon glyphicon-user"></i>
                {% if current_user.first_name -%}
                    {{ current_user.first_name }}
                {% else -%}
                    {{ current_user.email }}
                {%- endif %}<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{{ url_for('security.logout') }}">Log out</a></li>
            </ul>
        </div>
    {% endif %}
{% endblock %}
