{% extends 'admin/master.html' %}
{% block body %}
    {{ super() }}
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                {% if not current_user.is_authenticated %}
                <p>
                    <a class="btn btn-primary" href="{{ url_for('security.login') }}">login</a>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock body %}
